html {
    scroll-behavior: smooth;
}

.navbar{
    background-image:linear-gradient(to top left, #161622, #535353);
}


.navText{
    font-size: 20px;
}

.bgImage{
    background: url("1330234.png") no-repeat center fixed;
    height: 50vh;
    max-height: 400px;
    background-color: white;
    object-fit: cover;
}

.backgroundTwo{
   background-image:linear-gradient(to top left, #1013ad, #000000);
   min-height: 50vh;
   margin:0;
   font-family: monospace;
}

.ProjectBox{
    display: flex;
    justify-content: center;
    margin: 1%;

}
.ProjectBg{
    background-image:linear-gradient(to top right, #000000, #535353);
    min-height: 50vh;
    margin:0;
    font-family: monospace;
    border-radius: 20px;
}

.AboutMe{
    background-image:
    linear-gradient(to top right, #000000, #1013ad);
    min-height: 50vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.AboutMe p{
    width: 50%;
}



.AboutMe > img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding:20px;
}

.AboutMe > p{
    font-size: 20px;
    color: white;
}

.col-sm-3{
 text-align: center;
}

.projectPageBg{
    background-image:
    linear-gradient(to top right, #000000, #1013ad);
}

